/*
 * This file is intentionally left blank.
 *
 * Use file file to place CSS overrides in.  It is loaded last and will take precedence.
 */

/*
 Example:

.container {
    color: #000;
    background-color: #1acaca;
}
*/


/*
    Remove password generator, passphrase-lockdown and other additional settings
*/

#password-settings-group {
    display: none;
}

#passphrase-lockdown {
    display: none;
}

#password-generator {
    display: none;
}
#settings-save {
    display: none;
}
